.jumbotron {
    background-color: orange;
    color: black;
    margin-top: 50px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: orange;
    margin-bottom: 0px;
    margin-top: 10x;
}

.card-product{
    flex: 1 200px;
    margin-top: 10px;
}

.btn-comprar{
    width: 100%;
    border-radius: 0px;

}

.breadcrumb{
    background-color: rgb(241, 239, 239);
}

.footer-address-icon{
    padding-right: 10px;
}

.icon-comprar{
    padding-right: 5px;
}

.icon-foot-left{
    padding-left: 10px;
}

.tab-content{
    padding-top: 10px;
}