$orange: #ffa420;
$red: #ff6961;
$green: #98ff98;
$black: #1c0d02;
$yellow: #ffff00;

@mixin  margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin padding ($top, $right, $bottom, $left){
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}

.jumbotron {
    background-color: $orange;
    color: $black;
    @include margenes(50px, 10px );
}

footer {
    @include padding(10px, 10px, 0px ,10px);
    background-color: $orange;
    @include margenes(10px, 0px );
}

.card-product{
    flex: 1 200px;
    @include margenes(10px, 0px );
}

.btn-comprar{
    width: 100%;
    border-radius: 0px;

}

.breadcrumb{
    background-color: $green
}

.footer-address-icon{
    @include padding(0px, 10px, 0px ,0px);
}

.icon-comprar{
    @include padding(0px, 5px, 0px ,0px);
}

.icon-foot-left{
    @include padding(0px, 0px, 0px, 10px);
}

.tab-content{
    @include padding(10px, 0px, 0px ,0px);
}