.jumbotron {
  background-color: #ffa420;
  color: #1c0d02;
  margin-top: 50px;
  margin-bottom: 10px; }

footer {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  background-color: #ffa420;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-product {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-comprar {
  width: 100%;
  border-radius: 0px; }

.breadcrumb {
  background-color: #98ff98; }

.footer-address-icon {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px; }

.icon-comprar {
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 0px; }

.icon-foot-left {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 10px; }

.tab-content {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px; }
