@orange: #ffa420;
@red: #ff6961;
@green: #98ff98;
@black: #1c0d02;

.margenes(@top: 0px, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color: @orange;
    color: @black;
    .margenes(50px,10px);
}
  
footer {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    background-color: orange;
    .margenes(10px,0px);
}
  
  .card-product {
    flex: 1 200px;
    .margenes(10px, 0px);
  }
  
  .btn-comprar {
    width: 100%;
    border-radius: 0px; }
  
  .breadcrumb {
    background-color: @green; }
  
  .footer-address-icon {
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 0px; }
  
  .icon-comprar {
    padding-top: 0px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-left: 0px; }
  
  .icon-foot-left {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 10px; }
  
  .tab-content {
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px; }
